/* design intentionally made horrible to see who doesn't change it*/
body {
    background-image: linear-gradient(to bottom right, #9999ff , #ff4dd2);
    font-family: system;
    font-size: 1.5em;
}

ul[class="nav"]{
    list-style-type: none;
    text-align:center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav > li {
    display:inline-block;
}

.nav > li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav > li a:hover {
    background-color: #9933ff;
}

input, select {
    width = 320px;
    padding: 10px;
    margin: 20px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 120px;
    background-color: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 25%;
    border: none;
    cursor: pointer;
}

form {
     margin: 20px auto;
     width: 320px;
}

input {
      padding: 10px;
      font-size: inherit;

input[type="text"] {
     display: block;
     margin-bottom: 25px;
     width: 100%;
     border-bottom: 2px solid purple; 
}
